@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization

@inject IOptions<RequestLocalizationOptions> _locOptions

@{
    ViewBag.Title = "All My Children Results";
    Layout = "_Layout";
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = _locOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem {Value = c.Name, Text = c.DisplayName})
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@inject IViewLocalizer _localizer

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/assets/libs/footable/css/footable.core.min.css" rel="stylesheet">
    <link href="~/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/select2/dist/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>


</head>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">@_localizer["All Results"]</h4>
            <div class="d-flex align-items-center">
            </div>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex no-block justify-content-end align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="MyChild" asp-action="MyChild">@_localizer["My Children"]</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@_localizer["All Results"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="card-body">
        <div class="row">
            <button onclick="window.print()" style="margin-left: 5px;" class="btn btn-sm btn-outline-danger float-lg-right"><i class="fas fa-print"><span> Print Results</span></i></button>
            <button type="button" onclick="javascript:exportExcel();" style="margin-left: 5px;" class="btn btn-sm btn-success float-lg-left"><i class="fas fa-file-excel"><span> Export Report</span></i></button>
        </div>

            <div class="table-responsive">
                <table id="tblResultChildrenAssignments" class="table v-middle" style="width: 100%">
                    <thead>
                    <tr>
                        <th style="width: 160px; color: black">@_localizer["Date"]</th>
                        <th style="color: black">@_localizer["Subject"]</th>
                        <th style="width: 160px; color: black">@_localizer["Assignment"]</th>
                        <th style="width: 160px; color: black">@_localizer["Child Name"]</th>
                        <th style="color: black">@_localizer["Mark Obtained"]</th>
                        <th style="color: black">@_localizer["Assignment Mark"]</th>
                        <th style="color: black">@_localizer["Percentage"]</th>
                        <th style="color: black">@_localizer["Outcome"]</th>



                    </tr>
                    </thead>
                    <tbody>

                    <tfoot>
                    <tr>
                        <th style="color: black">@_localizer["Date"]</th>
                        <th style="color: black">@_localizer["Subject"]</th>
                        <th style="color: black">@_localizer["Assignment"]</th>
                        <th style="color: black">@_localizer["Child Name"]</th>
                        <th style="color: black">@_localizer["Mark Obtained"]</th>
                        <th style="color: black">@_localizer["Assignment Mark"]</th>
                        <th style="color: black">@_localizer["Percentage"]</th>
                        <th style="color: black">@_localizer["Outcome"]</th>

                    </tr>
                    </tfoot>

                    </tbody>

                </table>
            </div>
        </div>
</div>
</body>


<script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>
<script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
<script src="~/assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="~/assets/libs/sweetalert2/sweet-alert.init.js"></script>

<script>
    var groupColumn = 3;
    var dateColumn = 0;
    var tblResultChildrenAssignments = $('#tblResultChildrenAssignments').DataTable({
        createdRow: function(row, data, dataIndex) {
            $(row).attr('id', data.id);
        },
        "columns": [
            { "data": "date" }, 
            { "data": "subject" },     
            { "data": "name" },     
            { "data": "childName" },     
            { "data": "markObtained" },  
            { "data": "assignmentMark" },  
            { "data": "percentage" },
            { "data": "outcome" }

        ],
        columnDefs: [   { visible: false, targets: [groupColumn] }   ],
        order: [[ groupColumn, 'asc'], [ dateColumn, 'asc']],
        displayLength: 50,
        drawCallback: function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'}).nodes();
            var last=null;
            api.column(groupColumn, {page:'current'}).data().each( function (group,i){
                if ( last !== group) {
                    $(rows).eq( i ).before(
                        '<tr class="group" style="background-color:grey;color:white" ><td colspan="8"><b>'
                        +group+'</b></td></tr>'
                    );
                    last = group;
                }
            });
        },
        Buttons: [
            { extend: 'collection',
                text: 'Export',
                buttons: [ 'copy', 'excel', 'csv', 'pdf', 'print']
            }
        ]
    });
     // Order by the grouping
    $('#tblResultChildrenAssignments tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
            table.order( [ groupColumn, 'desc' ] ).draw();
        }
        else {
            table.order( [ groupColumn, 'asc' ] ).draw();
        }
    } );

     $(document).ready(function() {
        
         loadUpcomingAssignments();
    });
    function loadUpcomingAssignments()
    {
         $.ajax({
            url: '@Url.Action("ResultChildrenAssignments", "Assignments")',
            type: 'GET',
            success: function(result) {

                var rows = [];

                for (var i = 0; i < result.length; i++) {

                    rows.push({
                        id: result[i].id,
                        date: result[i].date,
                        subject:result[i].subject,
                        name: result[i].name,
                        childName: result[i].childName,
                        markObtained:  result[i].markObtained,
                        assignmentMark:  result[i].assignmentMark,
                        percentage: result[i].percentage,
                        outcome: result[i].outcome
                    });

                }

                tblResultChildrenAssignments.rows.add(rows).draw();

            },
            error: function(jqXHR, exception) {
                swal({
                    title: "ERROR STATUS " + jqXHR.status,
                    text: "Error Message: " + jqXHR.responseText,
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "OK"
                });
            }
        });
    
    }
    
    function exportExcel(){
    
         $.ajax({
            type: 'GET',
            url: '@Url.Action("Export", "Assignments")' ,
            success: function (result) {
                toastr.success('', 'Downloading...');
                window.location = '@Url.Action("Export", "Assignments")';
            }, error: function (jqXHR, exception) {
                swal({
                    title: "ERROR STATUS " + jqXHR.status,
                    text: "Error Message: " + jqXHR.responseText,
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "OK"
                });
            }
        });
    }
</script>